/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

h1 {
	font-family: monospace;
	text-align: center;
	color: maroon;
}

h4 {
	font-family: monospace;
	text-align: center;
	color: maroon;
	font-style: oblique;
}

p {
	font-family: monospace;
	text-align: center;
	font-style: italic;
}

a {
	color: maroon;
	padding: 10px;
}

.project{
	background-color: #f3eff5;
	margin-left: 100px;
	margin-right: 100px;
}

.thumbnail{
	width: 400px;
	height: 200px;
	border: 3px solid #434343;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
